body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
  }
  
  header {
    background:#222;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 100px;
    border-radius: 50%;
    margin-right: -23px;
  }
  
  nav a, nav button {
    color: white;
    margin: 0 8px;
    text-decoration: none;
  }
  
  .banner {
    background: #ff4081;
    color: white;
    text-align: center;
    padding: 40px;
  }
  
  .categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
  }
  
  .cat {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
  }
  
  .card button {
    padding: 8px 10px;
    margin: 5px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
    footer {
        text-align: center;
        background: #333;
        color: rgb(12, 229, 236);
        padding: 10px;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 20px;
      padding: 20px;
    }
    
    .card {
      background: white;
      padding: 15px;
      border-radius: 10px;
      text-align: center;
    }
    
    .card img {
      width: 100%;
      height: 260px;
      object-fit: cover;
    }
    
    .card button {
      margin: 5px;
      padding: 8px 12px;
      background: black;
      color: white;
      border: none;
      cursor: pointer;
    }
 